h1{
    background: rgb(243, 34, 11);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../img/10.jpg);
}
header, .main, footer{
    width: 90%;
    max-width: 1000px;
    margin:20px auto;
}
header nav{
    background: rgb(184, 97, 31);
    overflow: hidden;
    border-radius: 10px;
}
header nav ul{
    list-style: none; 
}
header nav ul li{
    float: left;
}
header nav ul li a{
    color: azure;
    font-size: 20px;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}
header nav ul li a:hover{
    background: aliceblue;
    color:  rgb(16, 153, 34);
}
header nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
    color: blanchedalmond;
    background: rgb(214, 126, 11);
}
header nav li:hover > ul {
    display:block;
}
